@model IncidentAddEditViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Action + " Incident";
    ViewData["SelectedCategory"] = "Incident";
}

@section scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

<h1>@ViewData["Title"]</h1>

<form asp-action="@Model.Action" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <!-- Customer, product, title, description, technichan, date opened, date closed-->

    <div class="form-group">
        <label asp-for="currentIncident.CustomerID">Customer</label>
        <select asp-for="currentIncident.CustomerID" name="CustomerID"
                asp-items="@(new SelectList(Model.Customers,
                                "CustomerID", "FullName"))"
                class="form-control">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="currentIncident.Product">Product</label>
        <select asp-for="currentIncident.ProductID" name="ProductID"
                asp-items="@(new SelectList(Model.Products,
                                "ProductID", "Name"))"
                class="form-control">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="currentIncident.Title">Title</label>
        <input asp-for="currentIncident.Title" name="Title" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="currentIncident.Description">Description</label>
        <input asp-for="currentIncident.Description" name="Description" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="currentIncident.TechnicianID">Technician</label>
        <select asp-for="currentIncident.TechnicianID" name="TechnicianID"
                asp-items="@(new SelectList(Model.Technicians,
                                "TechnicianID", "Name"))"
                class="form-control">
        </select>
       
    </div>

    <div class="form-group">
        <label asp-for="currentIncident.DateOpened">Date Opened</label>
        <input asp-for="currentIncident.DateOpened" name="DateOpened" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="currentIncident.DateClosed">Date Closed</label>
        <input asp-for="currentIncident.DateClosed" name="DateClosed" class="form-control">
    </div>

    

    <input type="hidden" asp-for="currentIncident.IncidentID" name="IncidentID" />

    <button type="submit" class="btn btn-primary">@Model.Action</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>
