@model RegistrationsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "List Incidents for Technician";

    string visibility = "";
    string success = "";

    if (TempData.Peek("Success") == null)
    {
        visibility = "d-none";
    }
    else
    {
        success = @TempData["Success"].ToString();
    }
}

<h1>Customers: @Model.Customer.FirstName @Model.Customer.LastName</h1>

<div id="alert" class="alert alert-success @visibility">@success</div>
@if (Model.RegisteredProducts.Count < 1)
{
    <h4>No Registered Products.</h4>
}
else
{
    <h1>Registrations</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var p in Model.RegisteredProducts)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>
                            <form asp-controller="Registration" asp-action="DeleteRegistration" method="post">
                                <input type="text" name="ProductID" value="@p.ProductID" hidden />
                                <input type="text" name="CustomerID" value="@Model.Customer.CustomerID" hidden />
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
}
<h1 class="mt-3">Product</h1>
<form asp-controller="Registration" asp-action="AddRegistration" method="post">
<div class="form-group">
    <select name="ProductID"
            asp-items="@(new SelectList(Model.Products,
                                "ProductID", "Name"))"
            class="form-control">
    </select>
    <input type="text" name="CustomerID" value="@Model.Customer.CustomerID" hidden />
</div>
    <button type="submit" class="btn btn-primary mt-3">Register</button>
</form>