@model TechIncidentManagerViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "List Incidents for Technician";

    string visibility = "";
    string success = "";

    if (TempData.Peek("Success") == null)
    {
        visibility = "d-none";
    }
    else
    {
        success = @TempData["Success"].ToString();
    }
}

<h1>Technician: @Model.tech.Name</h1>

<div id="alert" class="alert alert-success @visibility">@success</div>
@if (Model.Incidents.Count < 1) { 
    <h4>No incidents assigned.</h4>
}
else
{
    <h1>Assigned/Open Incidents</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th> <th>Customer</th> <th>Product</th> <th>Date Opened</th> <th></th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach(var incident in Model.Incidents)
            {
                string activeFlag = "";

                if (incident.Customer.Active == false)
                {
                    activeFlag = " (Inactive)";
                }
                <tr>
                    <td>@incident.Title</td>
                    <td>@incident.Customer.FirstName @incident.Customer.LastName @activeFlag</td>
                    <td>@incident.Product.Name</td>
                    <td>@incident.DateOpened.ToString()</td>
                    <td><a asp-controller="TechIncident" asp-action="Edit" asp-route-id="@incident.IncidentID"  class="btn btn-primary">Edit</a></td>
                </tr>
            }
        }
    </tbody>

</table>
}

<a asp-controller="TechIncident" asp-action="Get" class="btn btn-primary">Switch Technician</a>